{% extends 'base.html' %}

{% block title %}IntelliQuest{% endblock %}

{% block content %}
  <section id="about-page">
    <div class="about-us">
      <h2 class="text-white">About Us</h2>
      <p class="text-white">At IntelliQuest, we are a team of dedicated individuals passionate about leveraging artificial intelligence to revolutionize the way students approach homework and assignments. Our innovative solution allows you to effortlessly scan images or PDFs containing detailed problem explanations. Once scanned, our AI-powered system not only comprehends the content but also provides you with similar problems to reinforce your understanding.</p>
    </div>
  </section>
  <section id="ai-page">
    <div class="aienvision">
      <h2 class="text-white">AI</h2>
      <p class="text-white">We leverage OpenAI's advanced text model, Davinci, to analyze and understand the content of images scanned through our services. By sending prompts to the model, we extract comprehensive explanations for the problems in your scanned material, offering a thorough understanding of the concepts involved.</p>
    </div>
  </section>
  <section id="contact-page">
    <div class="contact-info">
      <h2 class="text-white">Contact Us</h2>
      <p class="text-white">Feel free to reach out to us if you have any questions or inquiries. We're here to help!</p>

      <!-- Contact Form -->
      <div class="container mt-2">
        <div class="row justify-content-center">
          <div class="col-md-6 align-middle">
            <div class="card">
              <div class="card-body bg-dark text-white">
                <form>
                  <div class="form-group mb-2">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control bg-dark text-white" id="name" placeholder="Enter your name">
                  </div>
                  <div class="form-group mb-2">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control bg-dark text-white" id="email" placeholder="Enter your email">
                  </div>
                  <div class="form-group mb-2">
                    <label for="message">Message:</label>
                    <textarea class="form-control bg-dark text-white" id="message" rows="3" placeholder="Enter your message"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
